.container{
  width:100%;
  height:833px;
}
.box1{
  top: 0px;
  left: 0px;
  width: 852px;
  height: 833px;
  background: transparent linear-gradient(136deg, #FCF3F3 0%, #FFFFFF 49%, #FAF1F0 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.logo-shape{
  position: absolute;
  top: 78px;
  left: 166px;
  width: 30px;
  height: 30px;
  border: 2px solid #E7A09E;
  border-radius: 50%;
  opacity: 1;
}
.logo-text1{
  position: absolute;
  top: 70px;
  left: 215px;
  width: 64px;
  height: 27px;
  text-align: center;
  font: normal normal medium 20px/28px Avenir;
  letter-spacing: 6px;
  color: #5F5A5A;
  opacity: 1;
}
.logo-text2{
  position: relative;
  top: 94px;
  left: 205px;
  width: 114px;
  height: 27px;
  text-align: center;
  font: normal normal medium 20px/28px Avenir;
  letter-spacing: 6px;
  color: #5F5A5A;
  opacity: 1;
}
.heading1{
  position: absolute;
  top: 230px;
  left: 181px;
  width: 248px;
  height: 85px;
  text-align: center;
  font: normal normal 300 64px/90px Avenir;
  letter-spacing: 19.2px;
  color: #D2A1A2;
  opacity: 1;

}
.heading2{
  position: absolute;
  top: 280px;
  left: 179px;
  width: 348px;
  height: 85px;
  /* text-align: center; */
  font-size: 64px;
  font: normal normal medium 64px/90px Avenir;
  letter-spacing: 19.2px;
  color: #393334;
  opacity: 1;
}

.heading3{
  position: absolute;
  top: 350px;
  left: 181px;
  width: 236px;
  height: 85px;
  /* text-align: center; */
  font: normal normal medium 64px/90px Avenir;
  font-size: 64px;
  letter-spacing: 19.2px;
  color: #393334;
  opacity: 1;
}
.para{
  position: absolute;
  top: 485px;
  left: 171px;
  width: 475px;
  height: 70px;
  text-align: left;
  font: normal normal 600 13px/26px Open Sans;
  letter-spacing: 0px;
  color: #9A6B69;
  opacity: 1;
}
.input-email{
  position: absolute;
  top: 606px;
  left: 171px;
  width: 456px;
  height: 57px;
  border: 1px solid #9A6B69;
  border-radius: 29px;
  opacity: 1;
}

.btn{
  position: absolute;
  top: 607px;
  left: 536px;
  width: 96px;
  height: 58.5px;
  background: #E7A09E 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #E7A09E;
  border: 0;
  border-radius: 29px;
  opacity: 1;
}
.btn:hover{
  background: #9A6B69;
}
.arrow{
  position: initial;
  top: 626px;
  left: 577px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.box2{
  position: absolute;
  top: 0px;
  left: 852px;
  width: 628px;
  height: 833px;
  border: 1px solid #707070;
  opacity: 1;
}
.backImage{
  top: 0px;
  left: 852px;
  width: 628px;
  height: 833px;
}

@media screen and (max-width:360px){
  .container{
  width: 360px;
  height: 1000px;
}
.box1{
  top: 0px;
  left: 0px;
  width: 360px;
  height: 1000px;
  background: transparent linear-gradient(136deg, #FCF3F3 0%, #FFFFFF 49%, #FAF1F0 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.logo-shape{
  position: absolute;
  top: 78px;
  left: 35px;
  width: 30px;
  height: 30px;
  border: 2px solid #E7A09E;
  border-radius: 50%;
  opacity: 1;
}
.logo-text1{
  position: absolute;
  top: 70px;
  left: 80px;
  width: 64px;
  height: 27px;
  text-align: center;
  font: normal normal medium 20px/28px Avenir;
  letter-spacing: 6px;
  color: #5F5A5A;
  opacity: 1;
}
.logo-text2{
  position: relative;
  top: 94px;
  left: 70px;
  width: 114px;
  height: 27px;
  text-align: center;
  font: normal normal medium 20px/28px Avenir;
  letter-spacing: 6px;
  color: #5F5A5A;
  opacity: 1;
}
.box2{
  position: absolute;
  top: 150px;
  left: 3px;
  width: 360px;
  height: 330px;
  border: 1px solid #707070;
  opacity: 1;
}
.backImage{
  top: 0px;
  left: 3px;
  width: 360px;
  height: 330px;
  text-align: center;
}
.heading1{
  position: absolute;
  top: 500px;
  left: 50px;
  width: 248px;
  height: 85px;
  text-align: center;
  font: normal normal 300 64px/90px Avenir;
  letter-spacing: 19.2px;
  color: #D2A1A2;
  opacity: 1;

}
.heading2{
  position: absolute;
  top: 510px;
  left: 1px;
  width: 348px;
  height: 85px;
  text-align: center;
  font-size: 64px;
  font: normal normal medium 64px/90px Avenir;
  letter-spacing: 19.2px;
  color: #393334;
  opacity: 1;
}

.heading3{
  position: absolute;
  top: 580px;
  left: 80px;
  width: 236px;
  height: 85px;
  text-align: center;
  font: normal normal medium 64px/90px Avenir;
  font-size: 64px;
  letter-spacing: 19.2px;
  color: #393334;
  opacity: 1;
}
.para{
  position: absolute;
  top: 730px;
  left: 20px;
  width: 360px;
  height: 70px;
  text-align: left;
  font: normal normal 600 13px/26px Open Sans;
  letter-spacing: 0px;
  color: #9A6B69;
  opacity: 1;
}
.input-email{
  position: absolute;
  top: 900px;
  left: 35px;
  width: 240px;
  height: 57px;
  border: 1px solid #9A6B69;
  border-radius: 29px;
  opacity: 1;
}

.btn{
  position: absolute;
  top: 900px;
  left: 240px;
  width: 96px;
  height: 58.5px;
  background: #E7A09E 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #E7A09E;
  border: 0;
  border-radius: 29px;
  opacity: 1;
}
.btn:hover{
  background: #9A6B69;
}
.arrow{
  position: initial;
  top: 626px;
  left: 577px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

}